In [17]:
import numpy as np
import os
import random
import pandas as pd
import datetime
import math
from math import e
import datetime
from scipy.interpolate import interp1d
import time, datetime
from pandas.core.frame import DataFrame
from db_models import GmsMonitor

import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [18]:
df = pd.read_csv('df_thickener1_20220522_01.csv')
df

,time,feed_c,out_c,feed_f,out_f,pressure,out_f_setting,out_c_setting,reward,error,sum_error,done
0,2021/6/24 22:45,7.062875,65.524767,0.570965,120.045326,56.274189,120.000000,65.5,-0.000613,-0.024767,-10.999217,0
1,2021/6/24 22:50,9.820479,65.541320,153.008470,120.580674,56.245093,120.000000,65.5,-0.001707,-0.041320,-5.540928,0
2,2021/6/24 22:55,8.771818,64.324850,594.833913,128.955535,55.393874,120.000000,65.5,-1.380978,1.175150,-1.595314,0
3,2021/6/24 23:00,5.454403,64.658912,0.569209,115.166352,55.373869,120.000000,65.5,-0.707429,0.841088,0.043431,0
4,2021/6/24 23:05,4.459571,64.014458,0.575706,117.597771,53.587357,120.000000,65.5,-2.206836,1.485542,1.507258,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10695,2022/5/7 9:50,33.020739,59.366599,601.963274,146.562356,51.578216,140.399994,62.0,-6.934803,2.633401,4.412321,0
10696,2022/5/7 9:55,29.091299,60.463238,679.524404,136.653616,50.474077,140.399994,62.0,-2.361637,1.536762,3.742922,0
10697,2022/5/7 10:00,26.692466,59.308527,601.825201,157.848585,51.421173,140.399994,62.0,-7.244026,2.691473,4.562934,0
10698,2022/5/7 10:05,28.122638,59.329402,612.676073,148.789828,51.545893,140.399994,62.0,-7.132092,2.670598,4.952065,0
10699,2022/5/7 10:10,28.742416,60.005657,700.122260,138.264618,51.887671,140.399994,62.0,-3.977403,1.994343,4.470375,0

In [19]:
df['sum_error'] = df['error']
df

,time,feed_c,out_c,feed_f,out_f,pressure,out_f_setting,out_c_setting,reward,error,sum_error,done
0,2021/6/24 22:45,7.062875,65.524767,0.570965,120.045326,56.274189,120.000000,65.5,-0.000613,-0.024767,-0.024767,0
1,2021/6/24 22:50,9.820479,65.541320,153.008470,120.580674,56.245093,120.000000,65.5,-0.001707,-0.041320,-0.041320,0
2,2021/6/24 22:55,8.771818,64.324850,594.833913,128.955535,55.393874,120.000000,65.5,-1.380978,1.175150,1.175150,0
3,2021/6/24 23:00,5.454403,64.658912,0.569209,115.166352,55.373869,120.000000,65.5,-0.707429,0.841088,0.841088,0
4,2021/6/24 23:05,4.459571,64.014458,0.575706,117.597771,53.587357,120.000000,65.5,-2.206836,1.485542,1.485542,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10695,2022/5/7 9:50,33.020739,59.366599,601.963274,146.562356,51.578216,140.399994,62.0,-6.934803,2.633401,2.633401,0
10696,2022/5/7 9:55,29.091299,60.463238,679.524404,136.653616,50.474077,140.399994,62.0,-2.361637,1.536762,1.536762,0
10697,2022/5/7 10:00,26.692466,59.308527,601.825201,157.848585,51.421173,140.399994,62.0,-7.244026,2.691473,2.691473,0
10698,2022/5/7 10:05,28.122638,59.329402,612.676073,148.789828,51.545893,140.399994,62.0,-7.132092,2.670598,2.670598,0
10699,2022/5/7 10:10,28.742416,60.005657,700.122260,138.264618,51.887671,140.399994,62.0,-3.977403,1.994343,1.994343,0

In [20]:
num = 0
last_done = 0
for i in range(len(df) - 1):
    if i == (len(df)-1):
        break
    # print(i)
    if 300 < (datetime.datetime.strptime(df['time'][i+1], '%Y/%m/%d %H:%M') - datetime.datetime.strptime(df['time'][i], '%Y/%m/%d %H:%M')).seconds:
        #print("time break")
        df['done'][i] = 1
        if num < 15:
            print("df_drop")
            df = df.drop(labels=range(last_done, i))
            df.reset_index(drop=True, inplace=True)
            # print(df)
            last_done = last_done
        else:
            last_done = i 
        num = 0
    else:
        df['sum_error'][i+1] = df['error'][i+1] + 0.7 * df['sum_error'][i]
        if df['sum_error'][i+1] > 50:
            df['sum_error'][i+1] = 50
        elif df['sum_error'][i+1] < -50:
            df['sum_error'][i+1] = -50
        num = num + 1

<ipython-input-20-b4602ede2920>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sum_error'][i+1] = df['error'][i+1] + 0.7 * df['sum_error'][i]
<ipython-input-20-b4602ede2920>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['done'][i] = 1

df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop
df_drop

In [21]:
df

,time,feed_c,out_c,feed_f,out_f,pressure,out_f_setting,out_c_setting,reward,error,sum_error,done
0,2021/6/24 22:45,7.062875,65.524767,0.570965,120.045326,56.274189,120.000000,65.5,-0.000613,-0.024767,-0.024767,0
1,2021/6/24 22:50,9.820479,65.541320,153.008470,120.580674,56.245093,120.000000,65.5,-0.001707,-0.041320,-0.058657,0
2,2021/6/24 22:55,8.771818,64.324850,594.833913,128.955535,55.393874,120.000000,65.5,-1.380978,1.175150,1.134090,0
3,2021/6/24 23:00,5.454403,64.658912,0.569209,115.166352,55.373869,120.000000,65.5,-0.707429,0.841088,1.634952,0
4,2021/6/24 23:05,4.459571,64.014458,0.575706,117.597771,53.587357,120.000000,65.5,-2.206836,1.485542,2.630008,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9950,2022/5/7 9:50,33.020739,59.366599,601.963274,146.562356,51.578216,140.399994,62.0,-6.934803,2.633401,7.138373,0
9951,2022/5/7 9:55,29.091299,60.463238,679.524404,136.653616,50.474077,140.399994,62.0,-2.361637,1.536762,6.533623,0
9952,2022/5/7 10:00,26.692466,59.308527,601.825201,157.848585,51.421173,140.399994,62.0,-7.244026,2.691473,7.265009,0
9953,2022/5/7 10:05,28.122638,59.329402,612.676073,148.789828,51.545893,140.399994,62.0,-7.132092,2.670598,7.756104,0
9954,2022/5/7 10:10,28.742416,60.005657,700.122260,138.264618,51.887671,140.399994,62.0,-3.977403,1.994343,7.423616,0

In [98]:
df.to_csv("df_thickener1_20220522_change.csv", index=False)