In [1]:
import numpy as np
import os
import random
import pandas as pd
import datetime
import math
from math import e
import datetime
from scipy.interpolate import interp1d
import time, datetime
from pandas.core.frame import DataFrame
from db_models import GmsMonitor

import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:

def mongodb_connect():
    import mongoengine
    mongoengine
    mongoengine.connect('nfca_db', host='dgx.server.ustb-ai3d.cn', port=27017, username='nfca', password='nfca')

In [4]:
def queryset2df(query_data):
    """
    queryset转dataframe
    :return:
    """
    dic = {"time":[], "value":[]}
    for q in query_data:
        dic["time"].append(q['time'])
        dic["value"].append(q['Monitoring_value'])
    # 存在数据库多条目同一时间同一值、多条目同一时间不同值的情况，仅保留首条数据
    df = pd.DataFrame(dic).drop_duplicates(subset=['time'])
    return df

In [5]:
def get_time_end(th_id, time_range, unfilter_data):
    time_list = []
    unfilter_data = unfilter_data
    for point_id in point[th_id]:
        time_list.append(
            unfilter_data[point_id].loc[time_range[0]:time_range[1]]['time'][-1])
    return min(time_list)

def get_time_start(th_id, time_range, unfilter_data):
    time_list = []
    unfilter_data = unfilter_data
    for point_id in point[th_id]:
        time_list.append(
            unfilter_data[point_id].loc[time_range[0]:time_range[1]]['time'][0])
    return max(time_list)

In [36]:
def pd_aggregation(data):
    dense_series_1s = data.resample('1S').interpolate("linear")
    series_1m = dense_series_1s.groupby(pd.Grouper(freq='5Min')).aggregate(np.mean)
    return series_1m

In [37]:
point = {
    1: [5, 7, 11, 90, 80, 67],
    "name": ["feed_c", "out_c", "feed_f", "out_f", "out_f_setting", "pressure"]
}
point_set = 69

In [38]:
def gene_data(th_id, time_range=None):
    unfilter_data = {}
    from db_models import GmsMonitor
    if time_range is not None:
        for i in point[th_id]:
            print(i)
            unfilter_data[i] = (
                queryset2df(GmsMonitor.objects(time__gte=time_range[0], time__lt=time_range[1], point_id=i)
                            .only('time', 'Monitoring_value').as_pymongo())
                .set_index(['time'], drop=False)
                .iloc[::-1].sort_index(ascending=True))
    else:
        for i in point[th_id]:
            unfilter_data[i] = (
                queryset2df(GmsMonitor.objects(point_id=i)
                            .only('time', 'Monitoring_value').as_pymongo())
                .set_index(['time'], drop=False)
                .iloc[::-1].sort_index(ascending=True))
    print("data_collected")
    df_list = []
    for point_id in point[th_id]:
        # print(point_id)
        start_time = get_time_start(th_id, time_range, unfilter_data)
        end_time = get_time_end(th_id, time_range, unfilter_data)
        df_data = unfilter_data[point_id].loc[start_time:end_time]
        # print(df_data)
        df_data = pd_aggregation(df_data)
        df_data = df_data.rename(columns={'value':point_id})
        df_list.append(df_data)
   
    df_merge = df_list[0]
    for i in range(len(df_list) - 1):
        df_merge = df_merge.merge(df_list[i + 1], on='time')
    df_merge.rename(columns={point[th_id][i]: point['name'][i] for i in range(len(point['name']))},
                          inplace=True)
    df_merge.to_csv('df_thickener_%s.csv' % th_id)
    print("data_generated")
    return df_merge

In [39]:
time_range = (datetime.datetime.now()- datetime.timedelta(hours=72), datetime.datetime.now())
# time_range = (datetime.datetime(2022, 5, 8, 7, 6, 44, 564487), datetime.datetime(2022, 5, 9, 7, 6, 44, 564501))
mongodb_connect()
df_1 = gene_data(1, time_range)
# df_2 = gene_data(2, time_range)
# df = [df_1, df_2]
df = df_1

5
7
11
90
80
67
data_collected
data_generated

In [40]:
df_1

,feed_c,out_c,feed_f,out_f,out_f_setting,pressure
time,,,,,,
2022-05-10 09:25:00,17.653204,61.996134,621.040228,140.389410,158.174258,48.515069
2022-05-10 09:30:00,16.564407,62.970862,561.446895,136.302434,169.922788,47.084535
2022-05-10 09:35:00,17.453896,63.332662,629.499202,143.314894,176.436190,46.547016
2022-05-10 09:40:00,16.157694,61.859938,536.887342,141.766153,165.006779,47.221003
2022-05-10 09:45:00,18.930741,61.194826,705.753476,139.917255,153.528768,47.562318
...,...,...,...,...,...,...
2022-05-12 05:00:00,26.409913,62.168513,543.363551,178.938419,161.573522,57.138134
2022-05-12 05:05:00,31.570429,62.812031,636.109054,176.200961,166.685083,56.783933
2022-05-12 05:10:00,30.635693,62.842136,637.082087,185.224416,169.478493,56.845052
2022-05-12 05:15:00,30.222088,62.991597,663.840987,169.870300,169.180392,56.340837
2022-05-12 05:20:00,27.094870,43.341888,576.421153,73.047534,176.766134,58.503820

In [41]:
def MSE(obs, set_value):
    return (set_value - obs) ** 2

In [42]:
a = GmsMonitor.objects.filter(
                    point_id=point_set
                ).order_by("-time").limit(1)[0].to_mongo().to_dict()['Monitoring_value']

In [47]:
a

62.0

In [44]:
df_1['reward'] = 0

In [45]:
df_1['reward'] = MAE(df_1['out_c'], a)

IndexError: invalid index to scalar variable.

In [34]:
df_1

,feed_c,out_c,feed_f,out_f,out_f_setting,pressure,reward
time,,,,,,,
2022-05-10 09:26:00,17.064217,60.424147,630.840020,128.461265,150.836592,48.554541,60.424147
2022-05-10 09:27:00,17.793887,62.448575,675.159438,145.023909,155.775621,48.643846,62.448575
2022-05-10 09:28:00,18.359168,62.430867,637.288160,144.900587,160.356573,48.604716,62.430867
2022-05-10 09:29:00,17.287562,62.392751,542.669923,140.786249,164.749890,48.265067,62.392751
2022-05-10 09:30:00,16.667491,62.941906,559.975870,132.754853,168.419025,48.041566,62.941906
...,...,...,...,...,...,...,...
2022-05-12 05:17:00,30.579958,62.821745,712.374243,167.446749,165.763272,56.104342,62.821745
2022-05-12 05:18:00,32.646561,63.879502,711.862544,168.558658,170.772042,56.361080,63.879502
2022-05-12 05:19:00,31.784880,64.270750,659.664825,156.269164,175.459384,56.638279,64.270750
2022-05-12 05:20:00,27.558220,62.138500,619.532631,19.939430,177.202543,58.203819,62.138500
2022-05-12 05:21:00,26.490500,18.824567,520.188790,148.916255,174.385718,58.932392,18.824567